.additional-goods {
  margin: 0;
  padding: 25px 20px 35px 20px;
  font-weight: 400;
}

.additional-goods__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: inherit;
}

.additional-goods__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: inherit;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional-goods__list {
  margin: 0;
}

.additional-goods__description {
  line-height: 14px;
  color: #444444;
}

.additional-goods__bonus {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background: url(../img/photo/gift-photo.png) 0 0 no-repeat;
}
