.card {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    margin-bottom: 48px;
  }
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 26px 0 40px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 56px;
    border: none;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 161px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 72px;
    margin-bottom: 164px;
  }
}

.card__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.card__item {
  padding-top: 19px;
  padding-bottom: 25px;
  margin: 0;
  width: 280px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
  position: relative;


  @media (min-width: @tablet-width) {
    width: 248px;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 0;
    padding: 160px 38px 41px 38px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding: 0;
    padding-top: 160px;
    padding-bottom: 11px;
    align-items: center;
  }
}

.card__img-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 140px;
  height: 101px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 302px;
    left: 93px;
    padding: 0;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    left: 53px;
    bottom: 308px;
  }
}

.card__img--small {
  padding-top: 26px;

  &:first-child {
    padding-top: 10px;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 173px;
  }
}

.card__img--big {
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 204px;
  }
}

.card__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0 0 13px;
  width: 90px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: auto;
    padding-left: 56px;
    padding-right: 56px;
    margin-bottom: 21px;
    padding-top: 1px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 20px;
    line-height: 21px;
    padding-right: 15px;
    padding-top: 5px;
    margin-bottom: 24px;
  }
}

.card__description {
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}

.card__description-info {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 8px 0;

    &:first-child {
      padding-top: 0;
    }
  }
}

.card__description-info__wrapper {
  @media (min-width: @desktop-width) {
    padding-left: 3px;
  }
}

.card__link {
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
    margin-top: 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
    margin-top: 33px;
    margin-bottom: 30px;
  }
}

.card__show-more__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 60px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    padding-left: 56px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.card__item--last {
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 39px;
    left: 125px;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    width: 244px;

    &::before,
    &::after {
      width: 60px;
      top: 79px;
      left: 131px;
    }
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding-top: 129px;

    &::before,
    &::after {
      top: 79px;
      left: 91px;
    }
  }
}

.card__show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    padding-left: 39px;
    margin-top: 23px;
    margin-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.card__show-more__link {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    opacity: 0.8;
    color: #444444;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 79px;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}
