.card {
  margin: 0;
  padding: 27px 20px 25px 20px;
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
}

.card__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.card__description-info {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__link-all {
  background-color: #f2f2f2;
  color: #444444;
}
