.categories {
  width: 320px;
}

@media (min-width: @tablet-width) {
  .categories {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: @desktop-width;
  }
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @desktop-width) {
  .categories__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.categories__item {
  background-color: #f2f2f2;
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .categories__item {
    width: 606px;
    padding: 60px 52px;
  }
}

@media (min-width: @desktop-width) {
  .categories__item {
    width: 466px;
    padding: 60px 52px;
  }
}

.categories__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #000000;
  text-transform: uppercase;
}

.categories__description {
  margin: 0;
  margin-bottom: 42px;
  color: #444444;
}

.categories__link {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
