.contacts__area {
  margin: 0;
  padding: 26px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 446px;
    padding: 60px 72px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
    padding: 60px 76px;
  }
}

.contacts__welcome {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.contacts__adress {
  line-height: 20px;
  color: #444444;
  margin: 0;
}
