.example {
  padding: 0 20px;
  padding-top: 23px;
  background-color: #eaeaea;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    background-color: #ffffff;
    padding-bottom: 70px;
    background-image: linear-gradient(#ffffff 0%, #ffffff 56%, #eaeaea 56%, #eaeaea 100%);
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    background-image: linear-gradient(#ffffff 0%, #ffffff 23%, #f2f2f2 23%, #f2f2f2 100%);
    position: relative;
    min-height: 600px;
  }
}

.example__block-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__descriptions {
  color: #444444;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.example__stats-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 17px;
  }
}

.example__content-wrapper {
  margin-bottom: 44px;

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__stats {
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 364px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.example__stats-item {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 13px 0;
  padding-bottom: 16px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 158px;
    padding-bottom: 19px;
  }
}

.example__stats-value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-mark {
  width: 80px;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  background-color: #eaeaea;
  padding: 0 9px;
  text-align: center;
  left: 13px;
  bottom: -17px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding: 0;
    width: 120px;
    bottom: -5px;
    left: 18px;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }

  &--time {
    @media (min-width: @tablet-width) {
      left: 9px;
      white-space: nowrap;
      padding-left: 8px;
      padding-right: 8px;
      width: 127px;
    }
  }
}

.example__costs {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 174px;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.example__costs--number {
  padding-top: 8px;

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-right: 109px;
  }
}

.example__slider {
  text-align: center;
  width: 280px;
  height: 232px;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 0;
    width: 708px;
    right: 0;
    height: 530px;
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 730px;
    height: 517px;
    top: -65px;
    right: 30px;
  }
}

.example__before {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  left: -20px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 50%;
    left: 0;
  }
}

.example__after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    box-shadow: 402px 601px 0 400px #eaeaea;
    background-image: linear-gradient(#ffffff 0, #ffffff 201px, #eaeaea 201px, #eaeaea 100%);
  }
}

.example__img--before {
  @media (min-width: @tablet-width) {
    width: 708px;
    height: 530px;
  }

  @media (min-width: @desktop-width) {
    width: 679px;
    height: 543px;
  }
}

.example__img--after {
  @media (min-width: @tablet-width) {
    width: 658px;
    height: 530px;
  }

  @media (min-width: @desktop-width) {
    width: 732px;
    height: 517px;
  }
}

.example__toggles {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: baseline;
  justify-content: center;

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 104px;
    bottom: 71px;
  }
}

.example__toggles-btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #b8b8b8;
  padding: 0;

  &:hover {
    border-bottom: 1px solid #919191;
  }

  &:active {
    border: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 7px;
    padding-left: 5px;
  }
}

.example__toggles-bar {
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  margin: 0 15px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 6px;
  }
}

.example__toggles-pointer {
  position: absolute;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
  top: 3px;
  left: 3px;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    height: 34px;
    width: 34px;
    top: -18px;
    left: 0;
    margin-left: calc(50% - 14px);

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 8px;
      height: 8px;
      background-color: #68b738;
      right: 14px;
      top: 14px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      top: 0;
      right: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    }

    &:hover::after {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active::after {
      border: 1px solid #68b738;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
