.page-header {
  background-color: #ffffff;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
