.page-footer {
  position: relative;
}

.page-footer__bottom {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 39px 20px 32px 20px;

  @media (min-width: @tablet-width) {
    padding: 39px 30px 32px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 39px 110px 32px 110px;
  }
}

.page-footer__bottom-content {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-footer__bottom-brand {
  text-align: center;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__bottom-copyright {
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.page-footer__copyright-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.page-footer__copyright-sign {
  color: #444444;
  font-size: 16px;
  padding-right: 138px;

  @media (min-width: @tablet-width) {
    padding-right: 22px;
  }
}
