.program {
  font-family: "Oswald", "Arial", sans-serif;
  background-image: url("../img/photo/cat-bg.jpg");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  background-position: 0 0;
  background-size: auto 302px;
  color: #ffffff;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 22px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 708px;
    background-color: #ffffff;
    background-image: none;
    color: #000000;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-bottom: 82px;
    background-color: transparent;
    min-height: 550px;
  }
}

.program__wrapper {
  padding: 27px 35px 0 35px;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 374px;
    padding-left: 80px;
  }
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
  }
}

.program__slogan {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.program__link {
  padding: 7px 50px;
  position: absolute;

  @media (max-width: @mobile-width-only) {
    bottom: 0;
  }

  @media (min-width: @tablet-width) {
    top: 228px;
    left: 80px;
    padding: 14px 26px;
  }
}
