.program__wrapper {
  font-family: "Oswald", "Arial", sans-serif;
  background-repeat: no-repeat;
  background-image: url("../img/photo/bg-cat-mobile@1x.jpg");
  color: #ffffff;
  margin-bottom: 22px;
  background-position: center 0;
  padding: 27px 20px 0 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo/bg-cat-mobile@2x.jpg");
    background-size: 320px 302px;
  }

  @media (min-width: @tablet-width) {
    padding: 54px 30px 0 30px;
    background-color: #ffffff;
    background-image: none;
    color: #000000;
    margin-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    padding: 107px 110px 0 110px;
    margin-bottom: 82px;
    background-color: transparent;
  }
}

.program {
  position: relative;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &::before {
    @media (max-width: @mobile-width-only) {
      content: "";
      position: absolute;
      background-color: #68b738;
      z-index: -1;
      width: 280px;
      height: 270px;
      top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 620px;
    min-height: 804px;
    padding-left: 88px;
  }

  @media (min-width: @desktop-width) {
    width: 1140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 471px;
    padding-left: 80px;
  }
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
  }
}

.program__slogan {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 2px;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 49px;
  }
}

.program__img {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    left: -1px;
    top: 201px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    top: -82px;
    left: 448px;
  }
}

.program__link {
  padding: 10px 50px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 0;
  }
}
