.your-program {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
}

.your-program__fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.your-program__title {
  margin: 0;
  padding: 26px 20px 36px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.your-program__description {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.your-program__info {
  padding-bottom: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.your-program__info__field {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
}

.your-program__info-block {
  font-size: 16px;
  color: #444444;
  display: flex;
  flex-direction: column;
}

.your-program__radio-name {
  color: #222222;
}

.your-program__goals-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.your-program__contact {
  padding: 25px;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.your-program__contact-title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.your-program__contact-info {
  font-size: 16px;
  color: #444444;
}

.your-program__contact__field {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
}

.your-program__comment {
  padding: 25px;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.your-program__comment-title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.your-program__comment__field {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
}

.your-program__additional {
  padding: 25px;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.your-program__additional-title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.your-program__additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.your-program__additional-comp {
  font-size: 16px;
}

.your-program__additional-compulsory {
  font-family: "Aral", sans-serif;
  line-height: 16px;
  text-transform: none;
}
