.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  counter-reset: item;
}

.page__body--index {
  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background-color: rgba(104, 183, 56, 0.85);
      background-image: url("../img/photo/bg-cat-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photo/bg-cat-desktop@2x.jpg");
      }
    }
  }
}
